{% extends 'base.html.twig' %}

{% block title %}Edit MeteoData{% endblock %}

{% block body %}
    <h1>Edit MeteoData</h1>

    {{ include('meteo_data/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_meteo_data_index') }}">back to list</a>

    {{ include('meteo_data/_delete_form.html.twig') }}
{% endblock %}
